body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin-top: 2rem;
  padding: 2.5rem 0;
  height: 100vh;
  box-sizing: border-box;
}

footer {
  background-color: black;
  display: flex;
  color: white;
}
